.home--slider{
    .slider--img{
        padding: 0 3rem;
        cursor: pointer;
        img{
            border-radius: 1.2rem;
        }
        &:focus-visible {
            outline: none;
        }
    }
    .slick-dots{
        li{
            button{
                &:before{
                    font-size: 1rem;
                    top: 1.5rem;
                    color: $orange;
                }
            }
        }
    }
}