.services{
    .bottom--line{
        @include bottomLine(15%);
    }
    .service--card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card--item{
            width: 25%;
            margin: 0.9rem;
            padding: 3.75rem 0;
            border-radius: 0.6rem;
            border: 1px solid #ff990052;
            transition: all 350ms ease;
            cursor: pointer;
            &:hover{
                border: 1px solid $orange;
                box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.15);
                p{
                    color: $primary !important;
                }
            }
        }
    }
}