@font-face {
  font-family: Raleway-Regular;
  src: url(../Fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../Fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../Fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../Fonts/Lato-Regular.ttf);
}

:root {
  --white: #FFFFFF;
  --primary: #313131;
  --accent: #707070;
  --secondary: #202020;
  --orange: #FF9900;
  --ff1: 'Raleway-Regular', 'san-serif';
  --ff2: 'Raleway-Medium', 'san-serif';
  --ff3: 'Raleway-SemiBold', 'san-serif';
  --ff4: 'Lato-Regular', 'san-serif';
}

.header {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.9, 0, 0.33, 1);
  transition: all 0.1s cubic-bezier(0.9, 0, 0.33, 1);
  z-index: 999;
}

@media (max-width: 575.98px) {
  .header .brand img {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .header .toggler {
    font-size: 1.5rem;
  }
}

.header .toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 991.98px) {
  .header .menu a {
    padding: 1.5rem;
  }
  .header .menu a:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
  }
}

.header .menu a:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.header--sticky {
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.15);
}

.hero {
  padding-top: 5rem;
}

@media (max-width: 575.98px) {
  .hero h1, .hero img {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 991.98px) {
  .hero h1, .hero img {
    padding: 0 2rem 4rem 2rem;
  }
}

.home--slider .slider--img {
  padding: 0 3rem;
  cursor: pointer;
}

.home--slider .slider--img img {
  border-radius: 1.2rem;
}

.home--slider .slider--img:focus-visible {
  outline: none;
}

.home--slider .slick-dots li button:before {
  font-size: 1rem;
  top: 1.5rem;
  color: var(--orange);
}

.services .bottom--line {
  width: 15%;
  display: inline-block;
  border-bottom: 1px solid var(--orange);
}

.services .service--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .service--card .card--item {
  width: 25%;
  margin: 0.9rem;
  padding: 3.75rem 0;
  border-radius: 0.6rem;
  border: 1px solid #ff990052;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .services .service--card .card--item {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .services .service--card .card--item {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .services .service--card .card--item {
    width: 60%;
    padding: 4rem 3rem;
  }
}

.services .service--card .card--item:hover {
  border: 1px solid var(--orange);
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.15);
}

.services .service--card .card--item:hover p {
  color: var(--primary) !important;
}

.gallery .bottom--line {
  width: 7%;
  display: inline-block;
  border-bottom: 1px solid var(--orange);
}

.gallery .gallery--wrapper {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

@media (max-width: 991px) {
  .gallery .gallery--wrapper {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.gallery .gallery--wrapper .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

.gallery .gallery--wrapper .pics img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.gallery .gallery--wrapper .pics:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.gallery .gallery--wrapper .pics:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.gallery .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-transition: opacity .4s ease, visibility .4s ease, -webkit-transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, -webkit-transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  z-index: 9999;
}

.gallery .open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery .open img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem 0 1.25rem;
  margin: 0 auto;
}

.gallery .open .cross {
  position: fixed;
  top: 3.125rem;
  right: 5rem;
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .gallery .open .cross {
    right: 3.125rem;
  }
}

.contact .bottom--line {
  width: 8%;
  display: inline-block;
  border-bottom: 1px solid var(--orange);
}

.contact .address .circle {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.1);
}

.contact .address .circle img {
  width: 2.5rem;
  height: 2.5rem;
}

.rent .bottom--line {
  width: 20%;
  display: inline-block;
  border-bottom: 1px solid var(--orange);
}

.rent .form--head .bottom--line {
  width: 20%;
  display: inline-block;
  border-bottom: 1px solid var(--orange);
}

.rent .form-main {
  width: 90%;
}

@media (max-width: 575.98px) {
  .rent .form-main {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .rent .form-main {
    width: 100%;
  }
}

.rent .form-main .form--item {
  width: 100%;
  padding: 0 1rem;
}

.rent .form-main .form--item input, .rent .form-main .form--item textarea {
  border-radius: 0.5rem;
  padding: .7rem;
  background-color: #F6F6F6;
  border: none;
}

.rent .form-main .form--item button {
  background-color: var(--orange);
  width: 100%;
  border-radius: 0.5rem;
  padding: .7rem;
  border: none;
}

.rent .rent--info {
  padding: 0 3rem;
}

.rent .rent--info .info--details img {
  border-radius: 1rem;
}

.footer {
  margin: 6rem 0;
}

.footer p {
  color: var(--accent);
}

.footer p u {
  color: var(--orange);
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--primary);
  height: 80vh;
}

.notFound h1 {
  display: inline-block;
  border-right: 1px solid var(--primary);
  margin-right: 1.25rem;
  padding: 0.625rem 1.4375rem 0.625rem 0;
}

.notFound .bar {
  display: inline-block;
  text-align: left;
  height: 3rem;
  vertical-align: middle;
}

.notFound .bar h2 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 375.5px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: var(--ff2);
  font-weight: 500;
  background-color: var(--white);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.c--custom {
  max-width: 85.125rem;
}

/* colors */
.c-tag-1 {
  color: var(--primary) !important;
}

.c-tag-2 {
  color: var(--accent) !important;
}

/* fonts */
.lato--25 {
  font-family: var(--ff4);
  font-weight: 400;
  font-size: 1.5rem;
}

.medi--16 {
  font-family: var(--ff2);
  font-size: 1rem;
}

.medi--20 {
  font-family: var(--ff2);
  font-size: 1.25rem;
}

.medi--25 {
  font-family: var(--ff2);
  font-size: 1.5rem;
}

.medi--35 {
  font-family: var(--ff2);
  font-size: 2.18rem;
}

.semi--20 {
  font-family: var(--ff3);
  font-weight: 600;
  font-size: 1.25rem;
}

.semi--30 {
  font-family: var(--ff3);
  font-weight: 600;
  font-size: 1.875rem;
}

.semi--45 {
  font-family: var(--ff3);
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4rem;
}
/*# sourceMappingURL=style.css.map */